.events-list {
    background-color: #726d6d;
    margin: 20px 0;
    border-radius: 20px;
    padding: 20px;
}
.event-date {
    background-color: #b69090;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
